div.error {
    text-shadow: 1px 1px 1px #5c2e03;
    color: orangered;
    margin-top: 60px;
    padding: 20px;
    border: solid 4px darkred;
}

#error_title {
    margin-top: 0;
    font-size: 300%;
}

#error_message {
    font-size: 200%;
}
