html {
    background: #364B66;
    font-family: Helvetica, serif;
    color: #cbd2c8;
}

body {
    width: 1000px;
    padding: 0 30px;
    margin: auto;
}

header {
    text-shadow: 2px 2px 1px #2d324a;
}

header h1 {
    font-size: 300%;
    margin-bottom: 10px;
    color: #829C91;
}

header h2 {
    font-size: 200%;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: #829C91;
}

header .header_emphase {
    color: orangered;
    text-shadow: 2px 2px 1px #5c2e03;
}

/*TOP BAR*/

nav {
    margin: 20px auto;
    color: #FEF4E9;
    height: 50px;
    border: 1px solid #DA7C0C;
    background: #F78D1D;
    background: -webkit-gradient(linear, left top, left bottom, from(#FAA51A), to(#F47A20));
    background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0% 0% transparent;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em
    -moz-border-radius: 0.5em
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

div#menu-container {
    float: right;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul#top-bar {
    margin: 0;
    padding: 0 40px;
    height: 100%;
}

ul#top-bar li {
    float: left;
    list-style: none outside none;
    height: 100%;
}

div.nav_item {
    padding: 10px 40px;
    height: auto;
}

ul#top-bar li a {
    /*padding: 10px 70px 6px 10px;*/
    color: #FFF;
    margin-right: 2px;
    font-size: 140%;
    text-shadow: 1px 1px #7E4D0E;
    position: inherit;
    height: 100%;
}

ul#top-bar li a:hover,ul#nav li a:focus {
    color: #222;
    text-shadow: none;
}

/*END TOP BAR*/
a, input[type="button"], input[type="submit"]{
    cursor: pointer
}