div#task_list div{
    display: inline;
}

#task_creation_button {
    margin: 5px 30px;
    font-size: 120%;
}

fieldset.display_task {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 40%;
    float: left;
}

fieldset.display_task legend {
    font-weight: bold;
}

div.URGENT fieldset {
    background-color: #222222;
}

div.IMPORTANT fieldset {
    background-color: #303138;
}

div.OPTIONAL fieldset {
    background-color: #494e6a;
}

.task_title > a, .task_title {
    color: inherit;
    font-size: 120%;
    margin-top: 0;
    text-decoration: underline;
}

.task_attribute_title {
    font-weight: bold;
    text-decoration: underline;
}

span.warning_due_date {
    color: orangered;
}

span.task_done {
    color: greenyellow;
}

span.task_undone {
    color: orangered;
}