div.center {
    width: 100%;
    margin: 15px auto;
    text-align: center;
    font-size: 150%;
}
div.center span.username {
    font-weight: bold;
    /*color: #DA7C0C;*/
    text-shadow: #7E4D0E 1px 1px 1px;
}

#task_list {
    margin-top: 10px;
}

#task_list div{
    display: inline;
}

img.task_visibility {
    float: right;
    margin: -15px -5px;
}

#task_creation_button {
    margin: 5px 30px;
    font-size: 120%;
}

fieldset.display_task {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 40%;
    float: left;
}

fieldset.display_task legend {
    font-weight: bold;
}

div.URGENT fieldset {
    background-color: #222222;
}

div.IMPORTANT fieldset {
    background-color: #303138;
}

div.OPTIONAL fieldset {
    background-color: #494e6a;
}

.task_title > a, .task_title {
    color: inherit;
    font-size: 120%;
    margin-top: 0;
    text-decoration: underline;
}

.task_attribute_title {
    font-weight: bold;
    text-decoration: underline;
}

span.warning_due_date {
    color: orangered;
}

span.task_done {
    color: greenyellow;
}

span.task_undone {
    color: orangered;
}