<header style="text-shadow: 2px 2px 1px #2d324a;">
    <a href="@@{Application.homepage()}" style="text-decoration: none; color: inherit;">
        <h1 style="font-size: 30px; margin-bottom: 10px; color: #829C91;">
            Welcome on Task-Reminder!
        </h1>
        <h2 style="font-size: 20px%; margin-top: 5px; margin-left: 20px; margin-bottom: 5px; color: #829C91;">
            A place that will remember <span style="color: orangered; text-shadow: 2px 2px 1px #5c2e03;">tasks for you</span>
        </h2>
    </a>
</header>