#{extends 'nologout.html' /}
#{set title:'Task Reminder' /}

<fieldset class="form" id="login_form">
    <legend>Login</legend>

    #{form @Application.login() }
        <div>
            <label for="login.username">Username :</label>
            <input id="login.username" type="text" name="username" placeholder="username" required/>
            #{error 'username'/}
        </div>
        <div>
            <label for="login.password">Password :</label>
            <input id="login.password" type="password" name="password" placeholder="password" required/>
            #{error 'password'/}
        </div>
        #{if flash.get("form").equals("login")}
            <p class="error">${flash.get("error")}</p>
        #{/if}
        <input id="login.submit" type="submit" value="Login"/>
    #{/form}
</fieldset>

<fieldset class="form" id="register_form">
    <legend>Don't have an account yet?</legend>

    #{form @Application.register(), method:'POST' }
        <div>
            <label for="register.email">Email :</label>
            <input id="register.email" type="email" name="user.email" placeholder="email" value="${flash['user.email']}" required/>
            #{if flash.get("form").equals("register")}
                <p class="error">#{error 'user.email'/}</p>
            #{/if}
        </div>
        <div>
            <label for="register.username">Username :</label>
            <input id="register.username" type="text" name="user.username" placeholder="3 chars min" value="${flash['user.username']}" required pattern=".{3,15}"/>
            #{if flash.get("form").equals("register")}
                <p class="error">#{error 'user.username'/}</p>
            #{/if}
        </div>
        <div>
            <label for="register.password">Password :</label>
            <input id="register.password" type="password" name="password" placeholder="6 chars min" required pattern=".{6,}"/>
            #{if flash.get("form").equals("register")}
                <p class="error">#{error 'password'/}</p>
            #{/if}
        </div>
        <div>
            <label for="register.confirmation">Confirm password :</label>
            <input id="register.confirmation" type="password" name="confirmation" placeholder="confirmation" required pattern=".{6,}"/>
            #{if flash.get("form").equals("register")}
                <p class="error">#{error 'confirmation'/}</p>
            #{/if}
        </div>
        <div>
            <label for="register.firstname">First name :</label>
            <input id="register.firstname" type="text" name="user.firstname" placeholder="first name" value="${flash['user.firstname']}"/>
        </div>
        <div>
            <label for="register.lastname">Last name :</label>
            <input id="register.lastname" type="text" name="user.lastname" placeholder="last name" value="${flash['user.lastname']}"/>
        </div>

        <input id="register.submit" type="submit" value="Register"/>
    #{/form}
</fieldset>