#{extends 'nologout.html' /}

<nav>
    <div id="menu-container">
        <ul id="top-bar">
            <li><a href="@{Users.editAccount()}"><div class="nav_item">My account</div></a></li>
            <li><a href="@{Tasks.showUsersTasks()}"><div class="nav_item">My tasks</div></a></li>
            <li><a href="#"><div class="nav_item">Followed tasks</div></a></li>
            <li><a href="@{Users.showFriends()}"><div class="nav_item">Friends</div></a></li>
            <li><a id="logout_button" href="@{Application.logout()}"><div class="nav_item">Logout</div></a></li>
        </ul>
    </div>
</nav>
#{doLayout /}
